<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>08.组件化todolist</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <h1>08.组件化todolist</h1>
    <div id="app" class="container">
        <todolist></todolist>
    </div>
    <template id="todohead">
        <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="todo" ref="input" v-on:keyup.ctrl.enter="addItem">
            <button class="btn btn-success" v-on:click="addItem">添加</button>
        </div>
    </template>
    <template id="todofoot">
        <tfoot>
            <tr>
                <td colspan="4">
                    总数：{{todolist.length}}，完成：{{donelist.length}}，未完成：{{undonelist.length}}
                </td>
            </tr>
        </tfoot>
    </template>
    <template id="todoitem">
        <tr>
            <th scope="row">{{idx+1}}</th>
            <td>{{item.todo}}</td>
            <td>{{item.done ? '是' : '否'}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary btn-sm"
                        @click="completeItem(item.id)">完成</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" @click="removeItem(item.id)">删除</button>

                </div>
            </td>
        </tr>
    </template>
    <template id="todocontent">
        <tbody>
            <!-- <todoitem v-for="(item,idx) in todolist"></todoitem> -->
            <tr is="todoitem" v-for="(item,idx) in todolist" :item="item" :idx="idx"></tr>
        </tbody>
    </template>
    <template id="todobody">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">代办事项</th>
                    <th scope="col">是否完成</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <!-- <todocontent></todocontent> -->
            <tbody is="todocontent" :todolist="todolist"></tbody>

            <!-- <todofoot></todofoot> -->
            <tfoot is="todofoot"></tfoot>
        </table>
    </template>
    <template id="todolist">
        <div class="todolist">
            <todohead></todohead>
            <todobody :todolist="todolist"></todobody>
        </div>
    </template>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        const todohead = {
            data() {
                return {
                    todo: ''
                }
            },
            template: '#todohead',
            methods: {
                addItem() {

                }
            }
        }

        const todoitem = {
            props: ['item', 'idx'],
            data() {
                return {}
            },
            template: '#todoitem'
        }
        const todocontent = {
            props: ['todolist'],
            data() {
                return {}
            },
            template: '#todocontent',
            components: {
                todoitem
            }
        }
        const todofoot = {
            data() {
                return {}
            },
            template: '#todofoot'
        }
        const todobody = {
            // 接受父组件传入数据
            // props中的属性在组件实例化时会自动写入组件实例
            props: ['todolist'],
            data() {
                return {}
            },
            template: '#todobody',
            components: {
                todocontent,
                todofoot,
            }
        }
        Vue.component('todolist', {
            data() {
                return {
                    todolist: [
                        {
                            id: 1,
                            todo: '定个小目标。赚它一个亿越南盾',
                            done: false,
                            addtime: Date.now() + 1000
                        },
                        {
                            id: 2,
                            todo: '迎娶白富美，走上人生巅峰',
                            done: true,
                            addtime: Date.now() + 2000
                        },
                        {
                            id: 3,
                            todo: '出任CEO，达到疯癫状态',
                            done: false,
                            addtime: Date.now() + 3000
                        },
                    ]
                }
            },
            template: '#todolist',
            components: {
                todohead,
                todobody
            }
        })

        const vm = new Vue({
            el: '#app',
            data: {
                count: 10
            },
        })
    </script>
</body>

</html>